@import url('https://fonts.googleapis.com/css?family=Bitter|Oxygen');

#intro{
  grid-area:intro;
  padding: 30px;
}

#mainphoto{
  grid-area: mainphoto;
  margin-top:25px;
  margin-right:20px;
}
#mainphoto img{
  width: 230px;
  margin-top: 30px;
  margin-right:60px;
}

#aboutme{
  grid-area:aboutme;
  padding-left:15px;
  padding-right:15px;
  margin-bottom:20px;
}
#summary{
  margin: 0 auto;
  text-align: center;
  padding-left:30px;
  padding-right:30px;
}
#experience{
  grid-area:experience;
}
#experience h2{
  padding:0;
  margin-left:30px;
  margin-top: 25px;
  font-size:25px;

}
#home_div{
  /* background-color: #A8A6D3; */
  font-size:16px;
  color:#414280;
  margin-top: 0;
  margin-left:20px;
  padding:20px;
  padding-right:55px;
  line-height: 20px;
}
#ex_div{
  color:#414280;
  font-weight:bold;
  margin-top:25px;
  margin-left:30px;

}
#ex_div img{
  margin-left:0;
  /* max-width: 300px; */
}
#ex_div p{
  font-size:15px;
  margin-top:0;
}
#miamihurricane, #donatelife, #sorority, #mysecret{
  margin-bottom: 40px;
}

#ex_div h3{
  margin-left:25px;
}

#skills{
  grid-area:skills;
  margin-left:10px;
}
#skills li{
  font-family: 'Oxygen', sans-serif;
  display: block;
  line-height:17px;
  margin-left:0;
  padding-left: 5px;
  font-size: 13px;
}
#skills ul{
  padding:0;
  margin:5px;

}
#skills h2{
  padding:0;
  margin-left:10px;
  margin-top: 25px;
}
#skills h3{
  font-family: 'Oxygen', sans-serif;
  padding:0;
  margin-top:25px;
  font-size:15px;
}

#skills em{
  font-size: 12px;
  font-family: 'Oxygen', sans-serif;
  color:black;
  display: block;
  margin-top: 5px;
  margin-left: 0px;
  font-style: normal;
}
#header{
  grid-area:header;
  margin: 0px auto;
  font-style: italic;
  color: #414280;
  /* font-family: "Source Sans pro" , "arial", sans-serif; */
  font-size: 25px;
}

#navi{
  grid-area: navi;
}

.content{
   grid-area: content;
   padding: 15px;

}

.grid{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(1fr);

  grid-gap: 10px;
  grid-template-areas:
           "navi navi navi"
           "header header header"
           "content content content";
  max-width: 940px;
  /* border: solid 4px #414280; */
  margin: 0px auto;
}

.grid_home{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
           "navi navi navi"
           "header header header"
           "content content mainphoto";

  max-width: 940px;
  /* border: solid 4px #414280; */
  margin: 0px auto;
}

#about_content{
  padding-top: 0px;
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
           "aboutme aboutme aboutme"
           "skills experience contact"
           "skills experience contact"
           "skills experience contact"
          ;
        }

p{
  font-size: 15px;
  font-family: 'Oxygen', sans-serif;
}
em{
  font-family: 'Oxygen', sans-serif;
  font-size: 12px;
  display:inline;
  padding:0;
  margin-left:5px;
  font-family: "Oxygen", "arial" sans-serif;
}
/*
#classProjects, #tiger, #flowers em{
  display:inline;
} */
li{
  font-family: "Oxygen", "arial" sans-serif;
  font-size: 14px;
  line-height: 25px;
}

img{
  display:block;
  /* margin: 0px auto; */
  margin-bottom:10px;
  max-width: 400px;
  max-height:500px;
  border: solid 10px #414280;

}


nav {
background-color: #A8A6D3;
font-weight: bold;
width: 100%;
}

nav ol{
list-style-type: none;
padding-left: 0;
margin: 0;
}

li{
  display: inline-block;
  margin:0;
  line-height: 15px;
}

nav a{
  color: #414280;
  background-color: #A8A6D3;
  display: inline-block;
  text-decoration: none;
  line-height: 15px;
  padding: 20px;

}
nav a:default{
color: rgb(70,68,155);
}

nav a:hover {
  color:white;
  text-decoration: underline;
  background-color: #414280;
}

nav a:visited{
color: white;
}

nav a:active{
  color: rgba(65,68,155,.5);
}

#ux {
  margin: 20px;
  margin-bottom:5px;
  color: #414280;
  padding:20px;
  font-size: 35px;
  font-weight:bolder;
  ;
}


h1{
  margin-bottom: 5px;
  font-family: 'Bitter', serif;
}

h2 {
  /* display:inline-block; */
  /* border: solid 3px #414280; */
  font-family: 'Bitter', serif;
  color: #414280;
  font-style: normal;
  padding: 15px;
  font-size: 25px;
  margin: 0;
  /* background-color: #A8A6D3; */
}

h3{
  /* color:rgb(139,0,0); */
  padding-left:5px;
  padding-bottom:5px;
  margin: 0px;
  margin-top:15px;
  }

/* em{
  display:block;
  color: black;
  font-weight:normal;
  font-style: normal;
  font-family: "Nanum gothic", "arial", sans-serif;
  font-size: 15px;
  margin:10px;
} */
.special{
  color:#414280;
  font-size: 15px;
  font-weight: bold;
  margin-right:10px;
  margin-left: 10px;
  margin-bottom:0;
  /* margin-left:20px; */
}


#skill_div{
    margin-top: 25px;/* background-color: #A8A6D3; */

}

#ipad{
  grid-area:ipad;
}
#ipad img{
  margin-left: 15px;
}
#classProjects h2{
margin-left:15px;
padding-left: 0px;
}

#othermedia{
  grid-area:othermedia;
}
 #othermedia p{
   margin-left: 35px;
   margin-top: 0;
   margin-bottom: 30px;
   font-size: 13px;
   color: #A8A6D3;
 }

#personal_content{
  /* background-color: #A8A6D3; */
  /* border:solid 2px #A8A6D3; */
  margin:0 auto;
  margin-top:20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "ipad othermedia"
  "ipad othermedia";
}

#personal_content #othermedia{
  margin-left:20px;
}
#othermedia, #infographics h2{
  margin-left:20px;
}
#infographics{
  grid-area:infographics;
}

#cat{
  margin-left: 30px;
}
/* #cat:hover{
  opacity:.5;
} */
#drake img{
  width:385px;
  margin-left: 15px;
}
#drake p{
  margin-left: 15px;
    color: #A8A6D3;
}
#classProjects{
  grid-area:classProjects;
}
#classProjects p{
  font-family: 'Oxygen', sans-serif;
  font-size: 13px;
  margin-bottom:30px;
}
#cat p{
  font-family: 'Oxygen', sans-serif;
  font-size: 13px;
  color: #A8A6D3;
}

#flowers{
  margin-left:30px
}
#tiger{
  max-width: 375px;
  margin-left:30px;
}
#design_content{
  margin:0 auto;
  margin-top:20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "classProjects infographics"
  "classProjects infographics";
}
/* #designpage nav{
  line-height:19.2px;
} */
#kendrick p{
  margin-left:15px;
  color: #A8A6D3;
}
#kendrick img{
  margin-left: 15px;

}
#tom{
  margin-left: 15px;
    color: #A8A6D3;
}
 #contact h2{
   margin-left:40px;
   margin-top:25px;
   padding:0;
   font-size: 25px;
 }
#contact li{
  font-family: 'Oxygen', sans-serif;
  display: block;
  margin-bottom: 10px;
  margin-right: 70px;

  font-size: 15px;
}
#contact ul{
  font-weight: bold;
  color: #414280;
  font-size: 14px;
  font-family: serif;
}

#contact a{
  color: #414280;
      text-decoration: none;
}
#contact a:default{
  color: #414280;
}

#contact a:hover{
  color: #A8A6D3;
}
