
#education{
  grid-area: education;

  }

#header{
  grid-area:header;
}

#skills{
  grid-area: skills;
}
#contact {
  grid-area: contact;

}

#experience{
  grid-area: experience;
}

#accomplishments{
  grid-area: accomplishments;
}

#links{
  grid-area:links;
}

#navi{
  grid-area:navi;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(1fr);
  grid-gap: 10px;
  grid-template-areas:
           "navi navi"
           "header education"
           "contact experience"
           "skills experience"
           "accomplishments experience"
           "links experience";
}

p{
  font-family: "Nanum gothic", "arial", sans-serif;
  font-size: 14px;
  line-height: 4px;
}

li{
  font-family: "Nanum gothic", "arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}


h1{
margin-left: 10px;
}

h2 {
  background-color: #414280;
  color: white;
  font-style: normal;
  padding: 5px;
}

h3{
  color:#414280;
  padding-top: 15px;
  margin-bottom: 10px;
  }

h4{
  margin: 0;
}

h5{
  margin: 10px;
  margin-left: 0;
}

#experience p{
font-style: italic;
float:right;
padding-left: 10px;
margin: 0;


}
#experience h4{
  line-height: 5px;
}
#education h4{
  float: right;
  overflow:auto;
}

#education p{
  line-height: 15px;
  margin:4px;

}

header {
  font-style: italic;
}

img{
  display: block;
  margin: 0px auto;
  max-width: 200px;
  max-height:200px;
  border: solid 5px #414280;
  margin: 0px auto;
}


nav {
background-color: #A8A6D3;
font-weight: bold;
width: 100%;
}

nav ol{
list-style-type: none;
padding-left: 0;
margin: 0;
}

nav li{
  display: inline-block;
  margin:0;
  line-height: 15px;
}

nav a{
  color: #414280;
  background-color: #A8A6D3;
  display: inline-block;
  text-decoration: none;
  line-height: 5px;
  padding: 20px;

}

nav a:hover {
  text-decoration: underline;
  background-color: #414280;
}

#links a{
  text-decoration: none;
}

#links li{
  color: #414280;
  list-style-type: none;
}

#links li:hover {
  text-decoration: underline;
}

#links li:visited {
 color: blue;
}

.column1{
    background-color:#A8A6D3;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 940px;
}

.column2 {
  min-width: 50px;
  background-color: white;
  padding-left: 20px;
  margin-right: 20px;
}
