/* ====================================================================================================================================
  BASE STYLES
  Styles in here are foundations: Button styling, universal form styling, section sizes, colors, container sizes, etc.
======================================================================================================================================= */
html {
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  @include hover-transition();
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-family: $fontMain;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
  overscroll-behavior-y: none;
  background: #222;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }

  &:before {
    content: "";
    height: 0;
    opacity: 0;
    width: 0;
    transition: 0.4s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
  }

  &.fixed {
    @include hover-transition();
    overscroll-behavior: none;
    overflow: hidden;
    position: relative;

    &:before {
      z-index: 5;
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      backdrop-filter: blur(32px);
      opacity: 100%;
      transition: 0.4s ease-in-out;
    }
  }

  &.error404 {
    height: 100%;
  }

  .site-content {
    overflow: hidden;
    position: relative;
  }
}

*:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: $fontColor;
  @include hover-transition;
}

i {
  font-style: italic;
}

strong {
  font-weight: $bold;
}

.text-white {
  color: $white;
}

.text-accent {
  color: $accentColor;
}

.text-center {
  text-align: center;
}


.container {
  max-width: $container;
  padding: 100px 50px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.container-large {
  max-width: 100%;
  padding: 0 50px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.container-small {
  @extend .container;
  width: $container/2;
  max-width: 100%;
  padding: 50px;
  margin: 0 auto;
}

.lazyload-wrap {
  img {
    opacity: 0;
    @include hover-transition();

    &.lazyloaded {
      opacity: 1;
    }
  }
}

.inview-fadeUp {
  opacity: 0;
  top: 50px;
  position: relative;
  transition: all 0.8s ease-in-out;
}

.fadeUp {
  opacity: 1;
  top: 0;
}

.visible-mobile {
  display: none;
}

// Gravity Form Mobile Styling
.gform_button {
  -webkit-appearance: none;
  border-radius: 0 !important;
}

.gfield {
  input, textarea {
    outline: none;
    border-radius: 0 !important;
  }
}

// Sizes

.twenty {
  width: 20%;
}

.twenty-five {
  width: 25%;
}

.thirty {
  width: 30%;
}

.thirty-five {
  width: 35%;
}

.forty {
  width: 40%;
}

.forty-five {
  width: 45%;
}

.fifty {
  width: 50%;
}

.sixty {
  width: 60%;
}

.seventy-five {
  width: 75%;
}

.eighty {
  width: 80%;
}

.full {
  width: 100%;
}

// Flexbox Ready Classes

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-sb {
  justify-content: space-between;
}

.flex-jc {
  justify-content: center;
}

.flex-je {
  justify-content: flex-end;
}

.flex-ac {
  align-items: center;
}

.flex-as {
  align-items: flex-start;
}

.flex-ae {
  align-items: flex-end;
}

// Background Colors
.bg-primary {
  background: $primary;
}

.bg-accent {
  background: $accent;
}

.bg-offWhite {
  background: $offWhite;
}

.bg-white {
  background: $white;
}

.sites {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 50px;
}

section.sites-section {
  .image-hover {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    @include hover-transition();

    &:hover {
      opacity: 0.23;
      @include hover-transition();
    }
  }
}

.about-me-section {
  font-family: 'Raleway', sans-serif;
  background-image: radial-gradient(circle at center, #899Dc4, #495D84);
  background-size: cover;
  background-repeat: no-repeat;
  //height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at bottom, #A8A6D3, #090a0f);
  font-weight: 300;
}
.buttons{
  margin-top:20px;
}

.all {
  display: flex;
  perspective: 10px;
  transform: perspective(300px) rotateX(20deg);
  will-change: perspective;
  perspective-origin: center center;
  transition: all 1.3s ease-out;
  justify-content: center;
  transform-style: preserve-3d;
  width: 100%;
  margin-bottom: 50px;
}

.all:hover {
  perspective: 1300px;
  transition: all 1.3s ease-in;
  transform: perspective(10000px) rotateX(0deg);

  .text {
    opacity: 1;
  }

  & > div {
    opacity: 1;
    transition-delay: 0s;
  }

  .explainer {
    opacity: 0;
  }
}

.left, .center, .right, .lefter, .righter {
  width: 20%;
  max-width: 20%;
  height: 150px;
  transform-style: preserve-3d;
  border-radius: 10px;
  //border: 1px solid #fff;
  box-shadow: 0 0 20px 5px rgba(168, 166, 211, .4);
  opacity: 0;
  transition: all .3s ease;
  transition-delay: 1s;
  position: relative;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  //cursor: pointer;
  background-blend-mode: color-burn;

  &:hover {
    box-shadow: 0 0 30px 10px rgba(168, 166, 211, .6);
    background-color: #ccf;
  }
}

.text {
  opacity: 0;
  text-align: center;
  transition: all .3s ease;
  bottom: -40px;
  left: 50%;
  transform: translate(-50%, 20px);
  position: absolute;
  will-change: transform;
  color: #fff;
  text-shadow: 0 0 5px rgba(168, 166, 211, .6)
}

.lefter {
  transform: translateX(-60px) translateZ(-50px) rotateY(0deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/organization-512.png);
}

.left {
  transform: translateX(-30px) translateZ(-25px) rotateY(0deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/creative_draw-512.png);
}

.center {
  opacity: 1;
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/app_window-512.png);
}

.right {
  transform: translateX(30px) translateZ(-25px) rotateY(0deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/cloud_weather-512.png);
}

.righter {
  transform: translateX(60px) translateZ(-50px) rotateY(0deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/search-512.png);
}

.explainer {
  font-weight: 300;
  font-size: 2rem;
  color: white;
  transition: all .6s ease;
  width: 100%;
  height: 100%;
  background-color: #1b2735;
  //background-image: radial-gradient(circle at center top, #cce, #33a);
  border-radius: 10px;
  //text-shadow: 0 0 10px rgba(255, 255, 255, .8);
  display: flex;
  justify-content: center;
  align-items: center;
}


.ref {
  background-color: #000;
  border-radius: 3px;
  padding: 7px 10px;
  position: absolute;
  font-size: 16px;
  bottom: 10px;
  right: 10px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 3px rgba(0, 0, 0, .4);

  &::first-letter {
    font-size: 12px;
  }
}

.circle {
  @include hover-transition();
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $accent;
  padding: 20px;
  box-shadow: 0 0 4px 5px rgba(168, 166, 211, 0.5);
  border-radius: 50%;
  width: 20%;

  &:hover {
    background: $accent;
    color: $primary;
    @include hover-transition();
  };
}

.port-popup {
  //display: none;
  z-index:-1;
  transition: 0.4s ease-in-out;
  height: 0;
  width: 0;
  opacity: 0;
  position: fixed;
  top: 50%;
  bottom: 0;
  display: flex;
  transform: translate(-50%, -50%);
  left: 50%;
  transition-property: opacity;

  .popup-inner {
    opacity: 0;
  }

  &.open {
    z-index:5;
    opacity: 100%;
    overflow: auto;
    z-index: 10;
    padding: 20px;
    background: white;
    width: 60%;
    transition: 0.4s ease-in-out;
    height: 90%;

    .popup-inner {
      padding: 50px 20px;
      opacity: 100%;
      display: flex;
      justify-content: space-between;

      .pop-info {
        margin-bottom: 40px;
      }

      .image {
        width: 50%;
        max-height: 800px;
        overflow: auto;
        scrollbar-width: none;
      }

      .text-wrap {
        width: 45%;
        em {
          font-weight: bold;
        }

        margin-bottom: 20px;
      }
    }
  }

  .x {
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid $accent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: $accent;
    }
  }

  a h3 {
    @include hover-transition();
  }

  a:hover h3 {
    color: $accent;
    @include hover-transition();
  }
}

.portfolio-item {
  max-height: 340px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid $accent;

  &:nth-of-type(even) {
    transition-delay: 0.5s;
  }
  .info-wrap{
    position: absolute;
    background: $accent;
    width: 100%;
    padding: 10px;
    bottom: 0;
    h3{
      color:white;
    }
  }
  .see-more {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    background: transparent;
    opacity: 0;
    transition: 0.4s ease-in-out;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 0;

    h3 {
      color: $white;
    }
  }

  &:hover {
    .see-more {
      height: 100%;
      transition: 0.4s ease-in-out;
      background: #7e84f9;
      opacity: 0.8;
    }
  }
}

.projects-text {
  &.fixed {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}