/* +++++++++++++++++   Media Queries  ++++++++++++++++++++++ */

/* *********************************************************************** */
/* *****************  BREAKPOINT: Desktop Large - 1920px ***************** */
/* *********************************************************************** */

@media only screen and (max-width:$breakpoint-desktop-large){


}

/* ********************************************************************* */
/* *****************  BREAKPOINT: Desktop Med - 1440px ***************** */
/* ********************************************************************* */

@media only screen and (max-width:$breakpoint-desktop-med){



}
@media only screen and (max-width: $container){
  .container{
    padding:50px;
  }
}
/* ********************************************************************* */
/* *****************  BREAKPOINT: Desktop Med - 1280px ***************** */
/* ********************************************************************* */

@media only screen and (max-width: 1280px){

  // Header
  header {

    .menu-main-menu-container {
      ul {
        li {
          a {
            font-size: 14px;
          }
        }
      }
    }
  }

  // Footer
  footer {
    .menu-footer-menu-container{
      ul {
        li {
          a {
            font-size: 14px;
          }
        }
      }
    }
  }

}

/* *********************************************************************** */
/* *****************  BREAKPOINT: Desktop Small - 1170px ***************** */
/* *********************************************************************** */
@media only screen and (max-width: 1170px){

  // Typography
  h1, .h1 {
    font-size: 65px;

  }
  h2, .h2 {
    font-size: 33px;

  }
  h3, .h3 {
    font-size: 20px;

  }


  // Footer
  footer {
    .container-large {
      padding: 50px 20px;
    }
    .footer-top {
      .footer-menu {
        flex-direction: column;
        .menu-footer-menu-container {
          margin-bottom: 20px;
        }
      }
    }
  }

}

/* *********************************************************************** */
/* *****************  BREAKPOINT: Desktop Small - 1060px ***************** */
/* *********************************************************************** */

@media only screen and (max-width:$breakpoint-desktop-small){


}

/* ********************************************************************** */
/* *****************  BREAKPOINT: Tablet Large - 991px ****************** */
/* ********************************************************************** */

@media only screen and ( max-width:$breakpoint-tablet-large){

  .container {
    padding: 50px 20px;
  }
  .container-large {
    padding: 50px 20px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block !important;
  }

  // Header
  header.container-large {
    padding: 10px 20px;
  }

}

/* **************************************************************** */
/* *****************  BREAKPOINT: Tablet - 785px ****************** */
/* **************************************************************** */

@media only screen and ( max-width:$breakpoint-tablet){

  .visible-tablet{
    display:block !important;
  }
  .hidden-tablet{
    display:none !important;
  }

  // Footer
  footer {
    //.menu-footer-menu-container {
    //  ul {
    //    flex-wrap: wrap;
    //    li {
    //      width: 100%;
    //      margin-bottom: 5px;
    //      a {
    //        text-align: center;
    //        justify-content: center;
    //      }
    //    }
    //  }
    //}
    .footer-bottom {
      flex-direction: column-reverse;
      align-items: center;
      .social {
        margin-bottom: 20px;
      }
      .footer-copyright {
        text-align: center;
      }
    }
  }

}

/* *************************************************************** */
/* *****************  BREAKPOINT: Phone - 600px ****************** */
/* *************************************************************** */

@media only screen and ( max-width: 600px ){

    .sites{
      grid-template-columns: 1fr;
    }

}

/* *************************************************************** */
/* *****************  BREAKPOINT: Phone - 480px ****************** */
/* *************************************************************** */

@media only screen and ( max-width:$breakpoint-phone ){

  .visible-mobile{
    display:flex !important;
  }
  .hidden-mobile{
    display:none !important;
  }
  footer{
    .content{
      @include flex-direction(column);
    }
  }

}