/* Set universal font sizes and styles here */

h1, .h1 {
  font-family: $fontHeader;
  color: $accent;
  font-weight: bold;
  font-size: 80px;
  line-height: 72px;
  letter-spacing: -0.04em;
  margin-bottom: 0.25em;
  .massive{
    font-size: 10rem;
    font-weight: 900;
    letter-spacing: -0.07em;
    line-height: 0.77;
    text-indent: -0.039em;
    &:first-of-type{
      margin-left: 5px;
    }
  }
}

h2, .h2 {
  font-family: $fontHeader;
  color: $textGray;
  font-weight: $regular;
  font-size: 40px;
  line-height: 1.2em;
  margin-bottom: 30px;
}

h3, .h3 {
  font-family: $fontHeader;
  color: $accent;
  font-weight: $bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.02em;
}

h4, .h4 {
  font-family: $fontHeader;
  color: $textGray;
  font-weight: $bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: -0.003em;
}

h5, .h5 {
  font-family: $fontHeader;
  color: $textGray;
  font-weight: $regular;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
}

h6, .h6 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-family: $fontBody;
  color: $accent;
  line-height: 1.2em;
  &.uc {
    text-transform: uppercase;
    letter-spacing: 0.03px;
  }
}

p {
  font-family: $fontBody;
  color: $white;
  font-weight: $regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.003em;
}


// Colors
.tc-wht {
  color: $white;
}
.tc-acc {
  color: $accent;
}
.tc-prim {
  color: $primary;
}

// Text Alignment
.ta-center {
  text-align: center;
}
.ta-right {
  text-align: right;
}
@media only screen and (max-width: 775px){
  h1, .h1{
    .massive{
      font-size: 8rem;
    }
  }
  .about-me-section{
    .container{
      flex-direction: column;
    }
  }
}
