
  .rellax-circle{
    background:#acaad5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    &.one{
      position: absolute;
      right: 20%;
    }
    &.two{
      right: 10%;
    }
  }
