/*** DEBUG ****/
/*COLORS*/
/* SIZES */
/* TYPOGRAPHY */
/* MEDIA QUERY BREAKPOINTS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, svg, hr {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-weight: normal;
}

/*********************
STYLESHEETS
*********************/
.btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.btn {
  padding: 15px 30px;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  text-align: center;
  border: 2px solid transparent;
  background: #000000;
  color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn:hover {
  background: #A8A6D3;
}

/* Set universal font sizes and styles here */
h1, .h1 {
  font-family: "Outfit", sans-serif;
  color: #696767;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.04em;
}

h2, .h2 {
  font-family: "Outfit", sans-serif;
  color: #696767;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.03em;
}

h3, .h3 {
  font-family: "Outfit", sans-serif;
  color: #696767;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.02em;
}

h4, .h4 {
  font-family: "Outfit", sans-serif;
  color: #696767;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: -0.003em;
}

h5, .h5 {
  font-family: "Outfit", sans-serif;
  color: #696767;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
}

h6, .h6 {
  font-family: "Outfit", sans-serif;
  color: #A8A6D3;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.02em;
}
h6.uc, .h6.uc {
  text-transform: uppercase;
  letter-spacing: 0.03px;
}

p {
  font-family: "Outfit", sans-serif;
  color: #696767;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.003em;
}

.tc-wht {
  color: #fff;
}

.tc-acc {
  color: #A8A6D3;
}

.tc-prim {
  color: #000000;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

/* ====================================================================================================================================
  BASE STYLES
  Styles in here are foundations: Button styling, universal form styling, section sizes, colors, container sizes, etc.
======================================================================================================================================= */
html {
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-family: "Outfit", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: auto;
  overscroll-behavior-y: none;
  background: #222;
}
body.fixed {
  overflow: hidden;
}
body.error404 {
  height: 100%;
}
body .site-content {
  overflow: hidden;
}

*:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: #333;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

i {
  font-style: italic;
}

strong {
  font-weight: 700;
}

.text-white {
  color: #fff;
}

.text-accent {
  color: #A8A6D3;
}

.text-center {
  text-align: center;
}

.container, .container-small {
  max-width: 1300px;
  padding: 100px 50px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.container-large {
  max-width: 100%;
  padding: 0 50px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.container-small {
  width: 650px;
  max-width: 100%;
  padding: 50px;
  margin: 0 auto;
}

.lazyload-wrap img {
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.lazyload-wrap img.lazyloaded {
  opacity: 1;
}

.fadeUp {
  opacity: 0;
  top: 50px;
  position: relative;
}

.visible-mobile {
  display: none;
}

.gform_button {
  -webkit-appearance: none;
  border-radius: 0 !important;
}

.gfield input, .gfield textarea {
  outline: none;
  border-radius: 0 !important;
}

.twenty {
  width: 20%;
}

.twenty-five {
  width: 25%;
}

.thirty {
  width: 30%;
}

.thirty-five {
  width: 35%;
}

.forty {
  width: 40%;
}

.forty-five {
  width: 45%;
}

.fifty {
  width: 50%;
}

.sixty {
  width: 60%;
}

.seventy-five {
  width: 75%;
}

.eighty {
  width: 80%;
}

.full {
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-je {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-ac {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-as {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-ae {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bg-primary {
  background: #000000;
}

.bg-accent {
  background: #A8A6D3;
}

.bg-offWhite {
  background: #F0F4F7;
}

.bg-white {
  background: #fff;
}

.sites {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

section.sites-section .image-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  opacity: 0.23;
  left: 0;
  top: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
section.sites-section .image-hover:hover {
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

header {
  position: relative;
  z-index: 5;
  background-color: #fff;
}
header.container-large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
}
header .logo {
  width: 110px;
  height: 41px;
}
header .logo svg {
  width: 110px;
  height: 41px;
}
header .logo svg path {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
header .menu-main-menu-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .menu-main-menu-container ul li {
  cursor: pointer;
  list-style-type: none;
  text-decoration: none;
  padding: 38px 20px;
  position: relative;
}
header .menu-main-menu-container ul li.current-menu-item a {
  color: #A8A6D3;
}
header .menu-main-menu-container ul li a {
  text-decoration: none;
  color: #696767;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .menu-main-menu-container ul li a:hover {
  color: #A8A6D3;
}
header .menu-main-menu-container ul li.menu-item-has-children {
  padding-right: 15px;
  margin-right: 10px;
}
header .menu-main-menu-container ul li.menu-item-has-children:after {
  content: "";
  position: absolute;
  right: 0;
  top: 53%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
header .menu-main-menu-container ul li.menu-item-has-children ul.sub-menu {
  position: absolute;
  overflow: hidden;
  top: 97px;
  left: 0;
  width: 200px;
  height: 0;
  padding: 0 15px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 3px solid #A8A6D3;
  opacity: 0;
  -webkit-box-shadow: 0 2px 13px 0 rgba(145, 145, 164, 0.62);
          box-shadow: 0 2px 13px 0 rgba(145, 145, 164, 0.62);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
header .menu-main-menu-container ul li.menu-item-has-children ul.sub-menu li {
  padding: 0;
}
header .menu-main-menu-container ul li.menu-item-has-children ul.sub-menu li a {
  padding: 10px 0;
}
header .menu-main-menu-container ul li.menu-item-has-children ul.sub-menu li a:hover {
  color: #4d4d4d;
}
header .menu-main-menu-container ul li.menu-item-has-children ul.sub-menu li:before {
  display: none;
}
header .menu-main-menu-container ul li.menu-item-has-children:hover:after {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
header .menu-main-menu-container ul li.menu-item-has-children:hover ul.sub-menu {
  height: auto;
  padding: 15px;
  overflow: visible;
  opacity: 1;
}
header .header-right .btn-wrap {
  margin-top: 0;
}
header .header-right .header-phone {
  margin: 0 20px;
}
header .header-right .header-phone svg {
  margin-right: 10px;
}
header .header-right .header-phone svg path {
  fill: #A8A6D3;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
header .header-right .header-phone a, header .header-right .header-phone a span {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  color: #A8A6D3;
  font-size: 16px;
  letter-spacing: 0.03px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
header .header-right .header-phone:hover a, header .header-right .header-phone:hover a span {
  color: #000000;
}
header .header-right .header-phone:hover svg path {
  fill: #000000;
}

.hamburger {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50px;
  right: 20px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 99;
}
.hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #A8A6D3;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 0;
}
.hamburger span:nth-child(2), .hamburger span:nth-child(3) {
  top: 7px;
}
.hamburger span:nth-child(4) {
  top: 14px;
}
.hamburger.open span {
  background: #fff;
}
.hamburger.open span:nth-child(1) {
  top: 7px;
  width: 0%;
  left: 50%;
}
.hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.hamburger.open span:nth-child(4) {
  top: 7px;
  width: 0;
  left: 50%;
}

.nav-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  max-width: 520px;
  background: #000000;
  z-index: 98;
  overflow: hidden;
  -webkit-transition: 0.6s all ease-in-out;
  transition: 0.6s all ease-in-out;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.nav-menu .container, .nav-menu .container-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
}
.nav-menu .container .menu-mobile-menu-container ul, .nav-menu .container-small .menu-mobile-menu-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.nav-menu .container .menu-mobile-menu-container ul li, .nav-menu .container-small .menu-mobile-menu-container ul li {
  list-style: none;
  padding: 10px 0;
  opacity: 0;
  position: relative;
  text-align: left;
  left: 30px;
  -webkit-transition: 0.8s all ease-in-out;
  transition: 0.8s all ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.nav-menu .container .menu-mobile-menu-container ul li a, .nav-menu .container-small .menu-mobile-menu-container ul li a {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  color: #fff;
  padding: 0;
}
.nav-menu .container .menu-mobile-menu-container ul li a:before, .nav-menu .container-small .menu-mobile-menu-container ul li a:before {
  height: 0;
}
.nav-menu .container .menu-mobile-menu-container ul li a:hover, .nav-menu .container-small .menu-mobile-menu-container ul li a:hover {
  opacity: 0.5;
}
.nav-menu.open {
  width: 100%;
  overflow: visible;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.nav-menu.open .container .menu-mobile-menu-container ul li, .nav-menu.open .container-small .menu-mobile-menu-container ul li {
  opacity: 1;
  left: 0;
  -webkit-transition: 0.8s all ease-in-out;
  transition: 0.8s all ease-in-out;
}
.nav-menu.open .container .menu-mobile-menu-container ul li:first-of-type, .nav-menu.open .container-small .menu-mobile-menu-container ul li:first-of-type {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.nav-menu.open .container .menu-mobile-menu-container ul li:nth-of-type(2), .nav-menu.open .container-small .menu-mobile-menu-container ul li:nth-of-type(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.nav-menu.open .container .menu-mobile-menu-container ul li:nth-of-type(3), .nav-menu.open .container-small .menu-mobile-menu-container ul li:nth-of-type(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.nav-menu.open .container .menu-mobile-menu-container ul li:nth-of-type(4), .nav-menu.open .container-small .menu-mobile-menu-container ul li:nth-of-type(4) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.nav-menu.open .container .menu-mobile-menu-container ul li:nth-of-type(5), .nav-menu.open .container-small .menu-mobile-menu-container ul li:nth-of-type(5) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.nav-menu.open .container .menu-mobile-menu-container ul li:nth-of-type(6), .nav-menu.open .container-small .menu-mobile-menu-container ul li:nth-of-type(6) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}
.nav-menu.open .container .menu-mobile-menu-container ul li:nth-of-type(7), .nav-menu.open .container-small .menu-mobile-menu-container ul li:nth-of-type(7) {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}
.nav-menu.open .container .menu-mobile-menu-container ul li:nth-of-type(8), .nav-menu.open .container-small .menu-mobile-menu-container ul li:nth-of-type(8) {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}
.nav-menu.open .container .menu-mobile-menu-container ul li:nth-of-type(9), .nav-menu.open .container-small .menu-mobile-menu-container ul li:nth-of-type(9) {
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
}
.nav-menu.open .container .menu-mobile-menu-container ul li:nth-of-type(10), .nav-menu.open .container-small .menu-mobile-menu-container ul li:nth-of-type(10) {
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

footer {
  background-color: #F0F4F7;
  overflow: hidden;
}
footer a {
  text-transform: unset;
}
footer .footer-top {
  padding: 65px 50px;
}
footer .footer-top .logo {
  width: 200px;
}
footer .footer-top .footer-phone {
  margin: 0 20px;
}
footer .footer-top .footer-phone svg {
  margin-right: 10px;
}
footer .footer-top .footer-phone svg path {
  fill: #A8A6D3;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
footer .footer-top .footer-phone a {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  color: #A8A6D3;
  font-size: 16px;
  letter-spacing: 0.03px;
  text-transform: uppercase;
}
footer .footer-top .footer-phone:hover a {
  color: #000000;
}
footer .footer-top .footer-phone:hover svg path {
  fill: #000000;
}
footer .footer-bottom {
  border-top: solid #C3C9D1 2px;
  padding: 35px 50px;
}
footer .footer-bottom .footer-copyright a {
  color: #696767;
  text-decoration: underline;
  font-size: 14px;
}
footer .footer-bottom .footer-copyright a:hover {
  color: #A8A6D3;
}
footer .footer-bottom .social a {
  margin-right: 20px;
}
footer .footer-bottom .social a:last-of-type {
  margin-right: 0;
}
footer .footer-bottom .social a:hover svg path#Path, footer .footer-bottom .social a:hover svg path#Shape {
  fill: #A8A6D3;
}
footer .footer-bottom .social svg path {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
footer .menu-footer-menu-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .menu-footer-menu-container ul li {
  list-style-type: none;
  padding: 0 20px;
}
footer .menu-footer-menu-container ul li a {
  text-decoration: none;
  color: #696767;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .menu-footer-menu-container ul li a:hover {
  color: #A8A6D3;
}

/**  Home page template SCSS file - Create a new template file for each page template  **/
section.basic-hero-section {
  height: 30vw;
  min-height: 300px;
}
section.basic-hero-section h1 {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 52px;
  line-height: 68px;
  letter-spacing: 4.39px;
  font-weight: 500;
  text-transform: uppercase;
}

/* +++++++++++++++++   Media Queries  ++++++++++++++++++++++ */
/* *********************************************************************** */
/* *****************  BREAKPOINT: Desktop Large - 1920px ***************** */
/* *********************************************************************** */
/* ********************************************************************* */
/* *****************  BREAKPOINT: Desktop Med - 1440px ***************** */
/* ********************************************************************* */
@media only screen and (max-width: 1300px) {
  .container, .container-small {
    padding: 50px;
  }
}
/* ********************************************************************* */
/* *****************  BREAKPOINT: Desktop Med - 1280px ***************** */
/* ********************************************************************* */
@media only screen and (max-width: 1280px) {
  header .menu-main-menu-container ul li a {
    font-size: 14px;
  }

  footer .menu-footer-menu-container ul li a {
    font-size: 14px;
  }
}
/* *********************************************************************** */
/* *****************  BREAKPOINT: Desktop Small - 1170px ***************** */
/* *********************************************************************** */
@media only screen and (max-width: 1170px) {
  h1, .h1 {
    font-size: 33px;
    line-height: 39px;
  }

  h2, .h2 {
    font-size: 33px;
    line-height: 39px;
  }

  h3, .h3 {
    font-size: 20px;
    line-height: 26px;
  }

  h4, .h4 {
    font-size: 25px;
    line-height: 29px;
  }

  h5, .h5 {
    font-size: 20px;
    line-height: 26px;
  }

  footer .container-large {
    padding: 50px 20px;
  }
  footer .footer-top .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-top .footer-menu .menu-footer-menu-container {
    margin-bottom: 20px;
  }
}
/* *********************************************************************** */
/* *****************  BREAKPOINT: Desktop Small - 1060px ***************** */
/* *********************************************************************** */
/* ********************************************************************** */
/* *****************  BREAKPOINT: Tablet Large - 991px ****************** */
/* ********************************************************************** */
@media only screen and (max-width: 991px) {
  .container, .container-small {
    padding: 50px 20px;
  }

  .container-large {
    padding: 50px 20px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block !important;
  }

  header.container-large {
    padding: 10px 20px;
  }
}
/* **************************************************************** */
/* *****************  BREAKPOINT: Tablet - 785px ****************** */
/* **************************************************************** */
@media only screen and (max-width: 785px) {
  .visible-tablet {
    display: block !important;
  }

  .hidden-tablet {
    display: none !important;
  }

  footer .menu-footer-menu-container ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .menu-footer-menu-container ul li {
    width: 100%;
    margin-bottom: 5px;
  }
  footer .menu-footer-menu-container ul li a {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-bottom .social {
    margin-bottom: 20px;
  }
  footer .footer-bottom .footer-copyright {
    text-align: center;
  }
}
/* *************************************************************** */
/* *****************  BREAKPOINT: Phone - 600px ****************** */
/* *************************************************************** */
/* *************************************************************** */
/* *****************  BREAKPOINT: Phone - 480px ****************** */
/* *************************************************************** */
@media only screen and (max-width: 480px) {
  .visible-mobile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hidden-mobile {
    display: none !important;
  }

  footer .content {
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}